body {
    background-color: #fcebdc;
    margin-left: 5%
}

h1 {
    color: #969af6;
}

h3 {
    color: #7fbdf4;
}

hr {
border-style:groove;
width: 95%;
margin-left: 0;
}

img {

height: 200px;
width: 200px;
max-width:100%;
height:auto;
}